<!DOCTYPE html>
<html>

<body style="margin:0; padding:0; font-family: Arial, sans-serif; background-color:#000523;">
    <table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#000523">
        <tr>
            <td align="center" style="padding: 40px 0;">
                <table width="600" cellpadding="0" cellspacing="0" border="0" bgcolor="#000523"
                    style="border-radius: 8px; padding: 40px; text-align: left;">
                    <tr>
                        <td>
                            <h2 style="color: #2a9df4; font-size: 22px; margin-bottom: 20px;">🔔 New Connection Request
                            </h2>
                            <p style="font-size: 16px; color: white; line-height: 1.5;">
                                Someone has submitted a connection request via your website.
                            </p>
                            <p style="margin-top: 20px; color:#F62378; font-weight: bold;">Details:</p>
                            <ul style="padding-left: 20px; font-size: 16px; color: white;">
                                <li><strong>Name:</strong> {{name}}</li>
                                <li><strong>Email:</strong> {{email}}</li>
                                <li><strong>Phone:</strong> {{phone}}</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" style="padding-top: 30px;">
                            <img src="cid:footerlogo" alt="Company Logo" style="width:400px;" />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>